# Backend
backend/bin/
*.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env*
!frontend/.env.example

# ltg-langserver
ltg-langserver/node_modules/
ltg-langserver/target/
ltg-langserver/target/debug/
ltg-langserver/.env*

target/

!ltg-langserver/.env.example

# OS
.DS_Store
Thumbs.db

# Claude
.claude/